body{
	margin:0;
	background: rgb(248, 249, 250);
	font-family:sans-serif;
}
.container{
	position: relative;
	min-height: 100%;
}
.header{
	height: 55px;
	background-color:#62A8D1;
}

.header-title{
	color:white;
	text-align:center;
	padding-top:15px;
}

.clear{
	clear: both;
    height: 100px;
}
.footer{
	width: 100%;
    text-align: center;
    background-color: #62A8D1;
    position: absolute;
    margin-top: 20px;
    color: #fff;
    bottom: 0;
}
.panel{
	width: 750px;
	margin: auto;
	background: #fff;
	margin-top:10px;
	padding:20px;
	box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0,
                  rgba(60, 64, 67, .15) 0 1px 3px 1px;
}

.description{
	width: 750px;
	margin: auto;
	padding:20px;
}

.code-block{
	background-color: #EEEEEE;
	border-color: #bbb;
	border-width: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 3px;
	border-style: solid;
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;

}

.tg{
	border-collapse:collapse;
	border-spacing:0;
	width:80%;
	margin: auto;
	text-align: center;
}
.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 10px 10px 10px;
	/*border-style:solid;*/
	/*border-width:1px;*/
	overflow:hidden;
	word-break:normal;
	/*border-color:black;*/
	border-bottom: 1px solid #ddd;

}
.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 20px;
	/*border-style:solid;*/
	/*border-width:1px;*/
	overflow:hidden;
	word-break:normal;
	/*border-color:black;*/
	border-bottom: 1px solid #ddd;
	background-color: #62A8D1;
	color:white;
}
.tg .tg-0lax{
	text-align:left;
	vertical-align:top;
	/*padding: 10px;*/
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
tr:hover {background-color: #ddd;}


@media screen and (max-width: 767px) {
	.tg {width: auto !important;}
	.tg col {width: auto !important;}
	.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}
}

.error-row{
	border: solid 2px red;
}


.add-row-button{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 33.33%;
	float: left;
	height: 50px;
	text-align: right;
}

.save-button{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 33.33%;
	float: left;
	height: 50px;
	text-align: left;
}
.calculate-button{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 33.33%;
	float: left;
	height: 50px;
	text-align: center;
}
.save-button-g{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 50px;
	text-align: center;
}

#status{
	clear: both;
}

#extension-feedback-button{
	outline: none;
    height: 20px;
    text-align: center;
    width: 170px;
    border-radius: 40px;
    background: #fff;
    border: 1px solid rgb(216, 216, 216) ;
    color: #000;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 10px 0px;
}

#extension-feedback-button:hover{
	background: #ccc;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.probInput, .visitsInput{
	width: 47px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.delRow{
	color: red;
	transition: all .8s ease-in-out;
	-webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
	
	overflow: hidden;
    white-space:nowrap;
    border-radius: 25px;
    display: inline-block;
    float: left;

}

.delRow:hover{
	cursor: pointer;
	text-shadow: 0px 0px 9px #fff;
	
	
}

.delTag {
	transition: all .8s ease-in-out;
	-webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;

	opacity: 0;
    max-width: 0;
    display: block;
    float:right;
    text-decoration: none;
}

.delRow:hover .delTag {
	opacity: 1;
    max-width: 250px;
}


#insert-more{
	color: #888 !important;
	border: 2px solid #888;


}
#insert-more:hover{
		background:#888;
		color:white !important;
	}

#calculate{
	color: #888 !important;
	border: 2px solid #888;


}
#calculate:hover{
		background:#888;
		color:white !important;
	}

#top-logo-img{
	margin: auto;
	margin-top: 10px;
	display: block;
	width: 100px;

}

button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 170px;
  border-radius:40px;
  background: #fff;
  border: 2px solid #1ECD97;
  color:#1ECD97;
  letter-spacing:1px;
  text-shadow:0;
  font-size: 12px;
  font-weight:bold;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 10px;
}
button:hover{
  
    color:white;
    background: #1ECD97;
}
button:active{

  }

input::placeholder{
	color: #ccc;
}

.advancedCollapse {
  cursor: pointer;
  color: #333;
  border: none;
  text-align: left;
  outline: none;
  margin-left: 0px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .advancedCollapse:hover {
  background-color: none;
}

.advancedCollapse:before {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: left;
  margin-left: 5px;
}

#advOptionsLabel{
	position: relative;
	left: 2px;
	top: 4px;
}
.active:before {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.advancedOptions {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#budgetEntry{
	margin-bottom: 4px;
}

.tooltip{
	position: relative;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  bottom: 100%;
  left: 50%; 
  margin-left: -85px;

 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip-text:after {
  	content: " ";
  	position: absolute;
  	right: 75px;
	bottom: -8px;
	border-top: 8px solid #555;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
  	border-bottom: none;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text{
  visibility: visible;
}

.onclic {
  width: 40px;
  margin-left:85px;
  border-color:#bbb;
  border-width:5px;
  font-size:0;
  border-left-color:#1ECD97;
  animation: rotating .5s .18s linear infinite;
  &:after {
    content:"";
  }
}


.onclic:hover {
    color:#1ECD97;
    background: white;
  }

.validate {
  font-size:13px;
  color: white;
  background: #1ECD97;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/** SPINNER CREATION **/

.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


/** MODAL STYLING **/

.modal-content {
  border-radius: 0px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}

.modal-backdrop.show {
  opacity: 0.5;
}

.loader-txt {
  p {
    font-size: 13px;
    color: #666;
    small {
      font-size: 11.5px;
      color: #999;
    }
  }
}

.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out, -o-transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}

.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px
}

.modal-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #eceeef
}

.modal-footer>:not(:first-child) {
    margin-left: .25rem
}

.modal-footer>:not(:last-child) {
    margin-right: .25rem
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width:576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto
    }

    .modal-sm {
        max-width: 300px
    }
}

@media (min-width:992px) {
    .modal-lg {
        max-width: 800px
    }
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade.show {
    opacity: 1
}

.text-center {
    text-align: center !important
}