body{
	margin:0;
	background: rgb(248, 249, 250);
	font-family:sans-serif;
}
.container{
	position: relative;
	min-height: 100%;
}
.header{
	height: 55px;
	background-color:#62A8D1;
}

.header-title{
	color:white;
	text-align:center;
	padding-top:15px;
}

.clear{
	clear: both;
    height: 100px;
}
.footer{
	width: 100%;
    text-align: center;
    background-color: #62A8D1;
    position: absolute;
    margin-top: 20px;
    color: #fff;
    bottom: 0;
}
.panel{
	width: 750px;
	margin: auto;
	background: #fff;
	margin-top:10px;
	padding:20px;
	box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0,
                  rgba(60, 64, 67, .15) 0 1px 3px 1px;
}

.description{
	width: 750px;
	margin: auto;
	margin-top:10px;
	padding:20px;
}

.code-block{
	background-color: #EEEEEE;
	border-color: #bbb;
	border-width: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 3px;
	border-style: solid;
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;

}

.tg{
	border-collapse:collapse;
	border-spacing:0;
	width:80%;
	margin: auto;
	text-align: center;
}
.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 10px 10px 10px;
	/*border-style:solid;*/
	/*border-width:1px;*/
	overflow:hidden;
	word-break:normal;
	/*border-color:black;*/
	border-bottom: 1px solid #ddd;

}
.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 20px;
	/*border-style:solid;*/
	/*border-width:1px;*/
	overflow:hidden;
	word-break:normal;
	/*border-color:black;*/
	border-bottom: 1px solid #ddd;
	background-color: #62A8D1;
	color:white;
}
.tg .tg-0lax{
	text-align:left;
	vertical-align:top;
	/*padding: 10px;*/
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
tr:hover {background-color: #ddd;}


@media screen and (max-width: 767px) {
	.tg {width: auto !important;}
	.tg col {width: auto !important;}
	.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}
}

.error-row{
	border: solid 2px red;
}


.add-row-button{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 50%;
	float: left;
	height: 50px;
	text-align: right;
}

.save-button{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 50%;
	float: right;
	height: 50px;
	text-align: left;
}
.save-button-g{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 50px;
	text-align: center;
}

#status{
	clear: both;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.delRow{
	color: red;
	transition: all .8s ease-in-out;
	-webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
	
	overflow: hidden;
    white-space:nowrap;
    border-radius: 25px;
    display: inline-block;
    float: left;

}

.delRow:hover{
	cursor: pointer;
	text-shadow: 0px 0px 9px #fff;
	
	
}

.delTag {
	transition: all .8s ease-in-out;
	-webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;

	opacity: 0;
    max-width: 0;
    display: block;
    float:right;
    text-decoration: none;
}

.delRow:hover .delTag {
	opacity: 1;
    max-width: 250px;
}


#insert-more{
	color: #888 !important;
	border: 2px solid #888;


}
#insert-more:hover{
		background:#888;
		color:white !important;
	}



button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 170px;
  border-radius:40px;
  background: #fff;
  border: 2px solid #1ECD97;
  color:#1ECD97;
  letter-spacing:1px;
  text-shadow:0;
  font-size: 12px;
  font-weight:bold;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 10px;
}
button:hover{
  
    color:white;
    background: #1ECD97;
}
button:active{
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }

input::placeholder{
	color: #ccc;
}

.onclic {
  width: 40px;
  margin-left:85px;
  border-color:#bbb;
  border-width:5px;
  font-size:0;
  border-left-color:#1ECD97;
  animation: rotating .5s .18s linear infinite;
  &:after {
    content:"";
  }
}


.onclic:hover {
    color:#1ECD97;
    background: white;
  }

.validate {
  font-size:13px;
  color: white;
  background: #1ECD97;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}