@charset "UTF-8";
body{
	margin:0;
	background: rgb(248, 249, 250);
	font-family:sans-serif;
  min-height: 250px;
}
.extension-popup-container{
  height:100%;
	background: lightcoral;
}
.extension-popup-container-green{
  height: 100%;
	background: lightgreen;
}
.extension-popup-header{
	background-color:#62A8D1;
}

.extension-popup-header-title{
	color:white;
	text-align:center;
	padding-top:8px;
  padding-bottom: 8px;
}



.extension-popup-message-container{
	padding: 0px 10px 10px 10px;
	text-align: center;

}


#extension-popup-message{
	font-size: 16px;
}

.extension-popup-footer{
	width: 100%;
  height: 35px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;	
  background: #eee;
  position: absolute;
  bottom: 0px;
}
.extension-popup-footer:hover{
  background: #ccc;
}

#extension-popup-settings-button{
  outline:none;
  text-align: center;
  float: left;
  letter-spacing:1px;
  text-shadow:0;
  font-size: 12px;
  font-weight:bold;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: auto;
  padding: 0;
  border: none;
  background: none;
}

#extension-popup-settings-button:hover{
  color:green;
  background: #ccc;
  border-radius: 5px;
}
.extension-popup-degradation-options{
  text-align: center;
  padding: 10px;
  z-index: 80000;
  display: none;
}

.extension-popup-power-button-container{
  text-align: center;
}
#extension-popup-power-button{
  font-size: 55px;
  margin: 10 auto;
  color: #aaa;
  text-shadow: #ddd 0px 0px 3px;
}

#extension-popup-power-button:hover{
  text-shadow: #999 0px 0px 5px;
  cursor: pointer;
}

#extension-popup-refresh-button{
      margin: auto;
    font-size: 14px;
}

.extension-popup-btn-group {
  text-align: center;
  margin: 10 auto;
  width: 300px;
}
.extension-popup-btn-group button {
  background-color: #eee; /* Green background */
  border: 1px solid #ccc; /* Green border */
  color: #222; /* White text */
  padding: 5px 12px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.extension-popup-btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.extension-popup-btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.extension-popup-btn-group button:hover {
  background-color: #888;
}
